* {
    box-sizing: border-box;
    margin: 0;
    font-size: 25px;
}

body {
    background-color: rgb(39, 39, 39);
}

.principal_container {
    width: 1200px;
    height: 200vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(58, 65, 77);
}

.imageContainer {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 350px 350px 350px;
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
}

.imageContainer img {
    background-color: aliceblue;
    margin: 0px;
    width: 450px;
}

.sectionsTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(230, 230, 230);
    font-size: 30px;
}

.videoContainer {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top: 1300px;
}

.pageBottom {
    width: 1200px;
    height: 150px;
    position: absolute;
    top: 1800px;
    left:50%;
    transform:translateX(-50%);
    background-color: rgb(11, 11, 12);
}